@import "../core/theme";

.secondary-card {
  background: get-theme-value(palette, primary, background);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 0.625rem;
  padding: 1.5rem;
}
