@import "../node_modules/typeface-roboto/index.css";

@import "styles/core/variables";
@import "styles/core/functions";
@import "styles/core/utilities";
@import "styles/core/mixins";

@import "styles/core/typography";
@import "styles/core/theme";
@import "styles/core/grid";

@import "styles/components/notifications";
@import "styles/components/autocomplete";
@import "styles/components/container";
@import "styles/components/skeleton";
@import "styles/components/tooltip";
@import "styles/components/overlay";
@import "styles/components/button";
@import "styles/components/select";
@import "styles/components/table";
@import "styles/components/modal";
@import "styles/components/form";
@import "styles/components/list";
@import "styles/components/card";

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body,
html {
  background: get-theme-value(theme, primary, background);
  font-family: $font-family-base;
  min-height: 100vh;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Personalizar el scroll para todos los elementos con scroll */
::-webkit-scrollbar {
  width: 0.625rem; /* Ancho del scroll vertical */
  height: 0.625rem; /* Altura del scroll horizontal */
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2; /* Color del scroll */
  border-radius: 0.3125rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2; /* Hover del scroll */
}

::-webkit-scrollbar-track {
  background: #0000000a; /* Fondo del track */
  border-radius: 0.3125rem;
}

.center-all {
  justify-content: center;
  align-items: center;
  display: flex;
}

i {
  color: get-theme-value(theme, primary, color);
}

.rotate-icon {
  transition: transform 0.3s ease-in-out;
  &-activate {
    transform: rotate(180deg);
  }
}

.loading-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@include generate-properties-classes();
@include generate-hidden-classes();

@include generate-theme-classes("bg", "background");
@include generate-theme-classes("cl", "color");

@include generate-typography-classes();
