.container-dashboard-module {
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  padding: 2rem;
  height: 100%;
  width: 100%;

  & .action-back {
    transition: transform 0.3s ease-in;
    background: transparent;
    position: absolute;
    cursor: pointer;
    border: none;
    left: 2rem;
    top: 2rem;

    &:hover,
    &:focus {
      transform: scale(1.01);
    }

    & i {
      font-size: 1.5rem;
    }
  }

  & .secondary-card {
    transition: transform 0.3s ease-in;
    cursor: pointer;
    height: 10rem;

    &:hover,
    &:focus {
      transform: translateY(-0.5rem) scale(1.01);
    }
  }
}
